server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;
    location / {
        try_files $uri /index.html;
    }
    location /api/ {
        proxy_pass http://${GATEWAY_SERVICE_HOST}:${GATEWAY_SERVICE_PORT}/api/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    location /healthz {
        return 200 'ok';
        add_header Content-Type text/plain;
    }
    location /media_files/ {
        proxy_pass http://${GATEWAY_SERVICE_HOST}:${GATEWAY_SERVICE_PORT}/media_files/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
